$form-field-background-color: $dark-bg3;
$form-field-invalid-background-color: $dark-bg2;

$form-field-border-width: 1px;
$form-field-border-color: $dark-bg;
$form-field-border-style: solid;
$form-field-focus-border-color: $highlight-color2;

$form-checkbox-glyph-focus-color: $highlight-color;
$html-editor-border-color: transparent;
$fieldset-border-color: $dark-bg;