$dark-header-color: #39404d; //#2e2e2e
$light-background-color: rgb(234, 236, 236); //#eeeeee;
$light-border-color: #c8c8c8;
$highlight-color: $base-color;
$white-color: rgb(247, 247, 247); //#fff;
$black-color: rgb(72, 81, 99); //#262626;
$link-color: rgb(66, 139, 202);
