@import '_config.scss';
///////////////////// GLOBAL SENCHA VARS

//global vars
$base-color: #f47200;
$color: $black-color;
$body-background-color: $light-background-color;
$font-size: 14px;
$font-family: 'Roboto', sans-serif; //UI lab

$splitter-collapse-tool-background-color: $body-background-color;
$splitter-collapse-tool-glyph-color: $link-color;
