$button-toolbar-background-gradient: 'none';
$button-toolbar-background-gradient-over: 'none';
$button-toolbar-background-gradient-pressed: 'none';

$button-toolbar-background-color: $dark-bg2;
$button-toolbar-background-color-over: $dark-bg3;
$button-toolbar-background-color-pressed: $dark-bg3;
$button-toolbar-background-color-disabled: $dark-bg4;
$button-toolbar-border-color: $dark-bg3;
$button-toolbar-border-color-pressed: $dark-bg3;

$button-toolbar-color-pressed: $front-color;
$button-toolbar-color-over: $front-color2;
$button-toolbar-color: $front-color;
$button-toolbar-inner-border-width-focus: 0;