$tab-base-color-active: $highlight-color;
$tab-base_color-over: $highlight-color2;
$tab-plain-color: $front-color;
$tab-plain-color-active: $front-color2;
$tab-plain-color-over: $front-color2;
$tab-plain-background-color-over: $highlight-color3;

$tabbar-base-color: $dark-bg;
$tab_color_active: $front-color2;
$tab_color_over: $highlight-color;