//panels
$panel-header-background-color: $dark-header-color;
$panel-frame-background-color: $light-background-color;
$panel-border-color: $light-border-color;
$splitter-focus-outline-color: $light-border-color;
//windows
$window-base-color: $dark-header-color;
//tabs
$tab-base-color: $base-color;
$tab-color: $white-color;
